
<footer id="myFooter">
    <div class="container">
        <div class="row mx-5">
            <div class="col-sm-1 text-right">
                <h5>&nbsp<!-- Connect --></h5>
                <ul>
                    <li>
                        <a href="mailto:alexander.w.winkler@gmail.com" title=Email">
                            <!-- Email --> <i class="fas fa-envelope fa-fw"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="LinkedIn">
                           <!-- LinkedIn --> <i class="fab fa-linkedin fa-fw"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/awinkler" title="Github">  <!-- Github --> <i class="fab fa-github fa-fw"></i>
                        </a>
                    </li>
                    <li>                 
                        <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">
                        <!-- Google Scholar  --><i class="fas fa-graduation-cap fa-fw"></i> 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alexwinkler_/" title="Instagram">
                         <!-- Instagram --> <i class="fab fa-instagram fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>What's up?</h5>
                <img id="about-img" src="https://lh3.googleusercontent.com/nfsEWfvUDb5Ph-C7w7lHItg7Ub3mHuSzVpy6Nca8iBLDhGgde1J4f0j_cU6max7gzMkDIwH8nyeciXfrEqR98nvgRH7HT9jRc-qbFBHkRxoHB7MSBXvh-ub0sWsOFsXxRJyL5MmRuEmwq2wY9j9sKN0WOiru1eX9239vvX04TTJDzgHuz8hB6IijlwHHE33g3OzYQEFl27DsHitGt6YrtByDt15xL7n7bzdPq0JH9faxI7PSR57DICwZ-paubKbEp3U_wvfgl7vwfZbOtKjAKHH0WLfif2yAcjS4bNoGfi14Lr-XR3yDmIDMqySYShgBlbu3R0FW3XCKYPxXW3_9EVFZbm9BuQsKmzvUt8GZhujZ9nFSnIf4ppIJ8OYmLWk88JaV_tyirk28cvVq8JlEBv0qeGssWnDdV-Fa96-pWD6sPGgEhwVXIVoZij-UAn7fm8kqpcl0ZfCsAdsj0Q2B03VkavRQ62VaXtfVimDbhKYTl_ylaeSOg8nUyAP2gFb9Tw0wHw98Glny00F-JkzvYyxVruXgNmqpyLRYJ7sXl901K0Z_Ct9igFQAe_UxxUQjKhLOpmTTBFgYeQN8MP6nFwjIe_mEw5OhdRKT_WBq5UOks6aw16os2ZA2-lHx5NF1aGIeLAsnIBmcOOc4Xs9drddXL0DPQS9Z=w1600-h900-no">
            </div>
            <div class="col-sm-3">
                <h5>&nbsp</h5>
                <p>
                  Hey, I'm Alex!  I like programming, making robots move, 
                  Just exploring the ins and out of this world. Currently residing in Canggu, pimping my surf and yoga skill. Hit me up for anything.
                </p>
            </div>
            <div class="col-sm-3">
                <h5>Currently out of office</h5>
                <p>
                  You can find me here :)
                </p>
                <iframe id="about-map" id="map-container" frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZZZY9GE40i0RMP2CyvsLAwU&key=AIzaSyBHdveQcVwwVvdWvteUmfSWNBUlFJmApTo" allowfullscreen>
                </iframe>
            </div>
        </div>

    <div id="copyright">
        <p>Made by <strong>Alexander W. Winkler</strong></p>
    </div>   

  </div>   
</footer>
