
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 text-right my-2">
                <ul class="d-flex flex-row flex-lg-column">
                  <li>
                      <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="LinkedIn">
                          <!-- LinkedIn --> <i class="fab fa-linkedin fa-fw"></i> 
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/awinkler" title="Github">  <!-- Github --> <i class="fab fa-github fa-fw"></i>
                      </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">
                      <!-- Youtube -->
                      <i class="fab fa-youtube fa-fw"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">
                      <!-- Google Scholar  -->
                      <i class="fas fa-graduation-cap fa-fw"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/awinkler_" title="Twitter">
                      <!-- Instagram -->
                      <i class="fab fa-twitter fa-fw"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/alexwinkler_/" title="Instagram">
                      <!-- Instagram -->
                      <i class="fab fa-instagram fa-fw"></i>
                    </a>
                  </li>
                  <li>
                      <a href="https://medium.com/@alexander.w.winkler" title="Medium">
                        <!-- Medium --> <i class="fab fa-medium-m fa-fw"></i>
                      </a>
                  </li>
                </ul>
            </div>
            <div class="col-lg-5 p-0 px-md-2">
                <img id="about-img" src="/images/portrait2.jpg">
            </div>
            <div class="col-lg-6 p-0 px-md-2 mb-5">
                <p style="text-align: justify;">
                  Thanks for dropping by. 🙂 As you might have seen above, I like programming robots to make them move in cool ways. I'm also very interested in AR/VR/Spatial computing, neat animations and visualizations and got a bit into web development. I enjoy all kinds of ball-sports (e.g. tennis, squash) and currently working on my surf skills (hate paddling though).
                </p>
                <p class="mb-2" style="text-align: left">
                  I'd be happy to get in touch!
                </p>
                <img src="/images/signature_white.png" 
                style="height: 1.7em; float:left">
            </div>
<!--             <div class="col-md-12 col-lg-3 p-0 px-md-2">
                <iframe id="about-map" id="map-container" frameborder="0"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZZZY9GE40i0RMP2CyvsLAwU&key=AIzaSyBHdveQcVwwVvdWvteUmfSWNBUlFJmApTo" allowfullscreen>
                </iframe>
                <p>
                  <i class="fas fa-map-marker-alt fa-sm"></i> Currently roaming around here.
                </p>

            </div> -->
        </div>


    <div id="copyright">
                <hr class="color-white">
        <p>&copy; 2018 Alexander W. Winkler</p>
    </div>   

  </div>
</footer>





<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- <script type="text/javascript" src="/assets/js/lib/clipboard.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- <script type="text/javascript" src="/assets/js/lib/infinite-scroll.pkgd.min.js"></script> -->
<!-- <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script> -->

<!-- <script type="text/javascript" src="/assets/js/lib/typed.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
