
<footer id="myFooter">
    <div id="copyright">
        <!-- <hr class="color-white"> -->
        <p>&copy; 2023 Alexander W. Winkler</p>
    </div>   
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- <script type="text/javascript" src="/assets/js/lib/clipboard.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

<!-- <script type="text/javascript" src="/assets/js/lib/infinite-scroll.pkgd.min.js"></script> -->
<!-- <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script> -->

<!-- <script type="text/javascript" src="/assets/js/lib/typed.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
