<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alex's</title>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133437050-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133437050-1');
    </script>


    <!-- https://paulferrett.com/fontawesome-favicon/ -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon-adn.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link rel="stylesheet" type="text/css" href="/styles/Footer-with-map.css">
  
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">


<nav class="navbar navbar-dark fixed-top navbar-expand-md">
  <!-- <div class="container"> -->

    <!-- my name Alex -->
    <a class="navbar-brand" href="/#sec-landing" title="Go to Home" data-target="#sec-landing">
      <img src="/images/signature_white.png" style="height: 1.0em;">
    </a>

    <!-- button to show in mobile view -->
    <button class="navbar-toggler text-white border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- links to show in expanded view -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#sec-research" data-target="#sec-research">
            <i class="fa fa-graduation-cap fa-sm fa-fw"></i>&nbspProjects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sec-publications" data-target="#sec-publications">
            <i class="fas fa-list-ul fa-sm fa-fw"></i>&nbspPublications
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sec-software" data-target="#sec-software">
            <i class="fab fa-github fa-sm fa-fw"></i>&nbspSoftware
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sec-blog" data-target="#sec-blog">
            <i class="fas fa-pen fa-sm fa-fw"></i>&nbspBlog
          </a>
        </li>
      </ul>
    </div> <!-- ./navbar-collapse -->
</nav>
