<section id="sec-intro">
  <div class="container">
    <h2 class="display-4">Highlights</h2>

    <p>
        Call it overview, or highlights, etc.

        Robotics / Control:
        Motion Tracking / Simulation:
        Computer Vision:
    </p>

  </div>
</section>