<section id="sec-intro">
  <div class="container">
    <div class="row">

      <!-- <div class="col-lg-5 p-0 px-md-2">
        <img id="about-img" src="/images/portrait2.jpg">
      </div> -->

      <div class="col-lg-12 p-0 px-md-2 mb-5">
        <p style="text-align: justify;">
          Thanks for dropping by. 🙂 As you might have seen above, I like programming robots to make them move in cool
          ways. I'm also very interested in AR/VR/Spatial computing, neat animations and visualizations and got a bit
          into web development. I enjoy all kinds of ball-sports (e.g. tennis, squash) and currently working on my surf
          skills in SF.
        </p>
        <p class="mb-2" style="text-align: left">
          Happy to get in touch,
        </p>

        
        <img src="/images/signature.png" style="height: 1.7em; float: inline-start;">
        <br>
        <br>

        <!-- links -->
        <div id="nocolor" >
        <p>
          <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="LinkedIn">
            <!-- LinkedIn --> <i class="fab fa-linkedin fa-fw"></i>
          </a>

          <a href="https://github.com/awinkler" title="Github">
            <!-- Github --> <i class="fab fa-github fa-fw"></i>
          </a>

          <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">
            <!-- Youtube -->
            <i class="fab fa-youtube fa-fw"></i>
          </a>

          <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">
            <!-- Google Scholar  -->
            <i class="fas fa-graduation-cap fa-fw"></i>
          </a>

          <a href="https://twitter.com/awinkler_" title="Twitter">
            <!-- Instagram -->
            <i class="fab fa-twitter fa-fw"></i>
          </a>
        </p>
        </div>

        




      </div>
    </div>

  </div>
</section>