<section id="sec-intro">
  <div class="container">
    <!-- <h2 class="display-4">Bio</h2> -->

    
    <!-- Badges -->
    <div class="row align-items-stretch pub-padding-out">
      
      <div class="col-12 pub-padding mb-0" style="font-size: 0.8em;">
        <span class="badge badge-secondary mylabel"
          ><i class="fa fa-tag"></i> Robotics</span
        >
        <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Reinforcement Learning</span
        >
        <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Character Animation</span
        >
        <span class="badge badge-secondary mylabel"
          ><i class="fa fa-tag"></i> Motion Tracking</span
        >
        <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Computer Graphics</span
        >
        <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Computer Vision</span
        >
      </div>
      

      <div class="col-md-3 pub-padding">
        <img class="img-fluid paper-img" src="/images/me_bio2.png">
      </div>
      
      
      <div class="col-md-9 pub-padding">
        

        <p style="text-align: justify;">
          I work as a Research Scientist at Meta Reality Labs in San Francisco.
          I study the physical principles of human and animal movement to replicate them with robots or virtual agents.
          This work combines Reinforcement learning, Computer Vision, Character animation, Motion Tracking and Robotics.
          I did my PhD at the Agile and Dexterous Robotics Lab at ETH Zurich, where I worked on robot motion-planning,
          trajectory optimization, and model-based control for quadruped robots. I received my Masters in 
          Mechanical Engineering at the Karlsruhe Institute of Technology.
        </p>
        
        <p class="mb-2" style="text-align: left">
            <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">Google Scholar</a> / 
            <a href="https://twitter.com/awinkler_" title="Twitter">Twitter</a> /  
            <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">Youtube</a> / 
            <a href="https://github.com/awinkler" title="Github">Github</a> /
            <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="Github">LinkedIn</a>
        </p>

        <!-- <p class="mb-2" style="text-align: left">
          Happy to get in touch!   
          [<a href="https://twitter.com/awinkler_" title="Twitter">Twitter</a>,  
          <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">Youtube</a>, 
          <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">Scholar</a>, 
          <a href="https://github.com/awinkler" title="Github">Github</a>,
          <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="Github">LinkedIn</a>]
        </p>
        <img src="/images/signature.png" style="height: 1.7em; float: inline-start;"> -->
        
      </div>
      
    </div>





  </div>
</section>