<section id="sec-intro">
  <div class="container">
    <h2 class="display-4">Bio</h2>



    <!-- Badges -->
    <div style="font-size: 0.8em">
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Robotics</span
      >
      <span class="badge badge-secondary mylabel"
      ><i class="fa fa-tag"></i> Reinforcement Learning</span
      >
      <span class="badge badge-secondary mylabel"
      ><i class="fa fa-tag"></i> Character Animation</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Motion Tracking</span
      >
    </div>




    <div class="row p-1">

      <!-- <div class="col-lg-5 p-0 px-md-2">
        <img id="about-img" src="/images/portrait2.jpg">
      </div> -->
      
      
      <div class="col-12 col-lg-3 p-2">
        <!-- <img src="/images/quest_sim_teaser.png" style="border-radius: 0.5em"> -->
        <img src="/images/me_bio2.png" style="border-radius: 0.5em">
      </div>

      
      <div class="col-12 col-lg-9 p-2">


        <p style="text-align: justify;">
          My friends call me Alex and I work as a Research Scientist at Meta Reality Labs in San Francisco.
          My research is about understanding the principles of
          human and animal movement so that it can be replicated by robots or virtual agents.
          This work lies at the intersection of Reinforcement learning, Character animation, Motion Tracking and Robotics.
          I did my PhD at the Agile and Dexterous Robotics Lab at ETH Zurich, where I worked on robot motion-planning,
          trajectory optimization, and model-based control for quadruped robots. I received my Masters in 
          Mechanical Engineering at the Karlsruhe Institute of Technology.
        </p>
        <p class="mb-2" style="text-align: left">
          Happy to get in touch!   
          (<a href="https://twitter.com/awinkler_" title="Twitter">Twitter</a>,  
          <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">Youtube</a>, 
          <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">Scholar</a>, 
          <a href="https://github.com/awinkler" title="Github">Github</a>,
          <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="Github">LinkedIn</a>)
        </p>
        <img src="/images/signature.png" style="height: 1.7em; float: inline-start;">
        
      </div>
      

    </div>

    <!-- <div class="arrow bounce">
      <a class="fa fa-arrow-down fa-2x" href="#"></a>
    </div> -->

  </div>


</section>