<section id="sec-intro">
  <div class="container">
    <div class="row">

      <!-- <div class="col-lg-5 p-0 px-md-2">
        <img id="about-img" src="/images/portrait2.jpg">
      </div> -->
      
      
      <div class="col-12 col-lg-4 p-1 m-1 d-none d-lg-block">
        <img src="/images/quest_sim_teaser.png" style="border-radius: 0.5em">
      </div>

      
      <div class="col-12 col-lg-7 p-1 m-1">
        <p style="text-align: justify;">
          My friends call me Alex. I work at Meta Reality Labs in San Francisco, researching 
          how to move virtual avatars to imitate human movement, e.g. from a Quest headset. 
          This work touches fields like <b>reinforcement learning</b>, <b>motion-tracking</b> and <b>character animation</b>.   
          I got my PhD from ETH Zurich, where I worked on <b>robot motion-planning</b> and <b>trajectory optimization</b> for quadruped 
          robots. This work gave me a solid understanding of the physics of legged locomotion, model-based control and how
          contacts are used to move floating-base systems. Now that I moved into computer graphics,
          I'm using my understanding of these physical constraints to synthesize highest quality animations.
        </p>
        <p class="mb-2" style="text-align: left">
          Happy to get in touch,
        </p>
        
        <div id="nocolor" >
          <p style="text-align: left;">
            <a href="https://www.linkedin.com/in/alexanderwwinkler/" title="LinkedIn">
              <!-- LinkedIn --> <i class="fab fa-linkedin fa-fw"></i>
            </a>
  
            <a href="https://twitter.com/awinkler_" title="Twitter">
              <!-- Twitter -->
              <i class="fab fa-twitter fa-fw"></i>
            </a>

            
            <a href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg" title=Youtube">
              <!-- Youtube -->
              <i class="fab fa-youtube fa-fw"></i>
            </a>
            
            <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">
              <!-- Google Scholar  -->
              <i class="fas fa-graduation-cap fa-fw"></i>
            </a>

            <a href="https://github.com/awinkler" title="Github">
              <!-- Github --> <i class="fab fa-github fa-fw"></i>
            </a>
            
          </p>
        </div>
        <!-- <img src="/images/signature.png" style="height: 1.7em; float: inline-start;"> -->
      </div>
      

    </div>

    <div class="arrow bounce">
      <a class="fa fa-arrow-down fa-2x" href="#"></a>
    </div>

  </div>


</section>