
<hr>

<!-- <h3>Newsletter</h3> -->

<p>
	Get notified about new posts. Unsubscribe whenever. Never any spam.
</p>

<!-- redirect to iframe to stay on page -->
<form action="/blog/subscribe" method="POST">
	
  <div class="form-group">
    <input type="email" class="form-control" name="email[address]" id="email" placeholder="Email address" required>
  </div>

  <button type="submit" class="btn btn-primary">Get Updates</button>

</form>