<section id="sec-publications" class="pb-6 post">
<div class="container">
  <h2 class="display-4">Publication List</h2>

  <p>Download pdfs, videos, slides, bibtex info and more. See also 
    <a href="https://scholar.google.ch/citations?user=EElBh28AAAAJ&hl=en" title="Google Scholar">Google Scholar</a>.
  </p>


  <div class="publication-list mt-4">
    <% include ./bibbase.html %>
  </div>


  <small class="text-secondary" style="float:right;">
    Adapted from 
  	<a class="link-secondary" href="https://bibbase.org/">BibBase.org</a>
  </small>

</div>
</section>