<section id="sec-research">
  <div class="container">
    <h2 class="display-4">Publications</h2>
    <p>
      ICRA, SIGGRAPH, RA-L, RSS, ICCV, SCA, ...
    </p>

    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://sunny-codes.github.io/projects/questenvsim.html">
          <img class="img-fluid paper-img" src="/images/iccv2023_zenghi.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Perpetual Humanoid Control for Real-time Simulated Avatars</b> <br> 
        Z Luo, Jinkun Cao, A Winkler, K Kitani, W Xu <br>
        <em> International Conference on Computer Vision (ICCV 2023)  </em> <br> 
        [<a href="https://zhengyiluo.github.io/PHC/">Project page</a>] [<a href="https://arxiv.org/abs/2305.06456">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://sunny-codes.github.io/projects/questenvsim.html">
          <img class="img-fluid paper-img" src="/images/physics_retargeting5.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Physics-based Motion Retargeting from Sparse Inputs</b> <br> 
        D Reda, J Won, Y Ye, M van de Panne, A Winkler <br>
        <em> ACM Symposium on Computer Animation (SCA 2023) </em> <br> 
        [<a href="https://www.cs.ubc.ca/~dreda/retargeting.html">Project page</a>] [<a href="https://arxiv.org/abs//2307.01938">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://sunny-codes.github.io/projects/questenvsim.html">
          <img class="img-fluid paper-img" src="/images/questenvsim_youtube2.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>QuestEnvSim: Environment-Aware Simulated Motion Tracking from Sparse Sensors</b> <br> 
        <!-- Sunmin Lee, Sebastian Starke, Yuting Ye, Jungdam Won, <b>Alexander Winkler</b> <br> -->
        S Lee, S Starke, Y Ye, J Won, A Winkler <br>
        <em> ACM SIGGRAPH 2023 </em> <br> 
        [<a href="https://sunny-codes.github.io/projects/questenvsim.html">Project page</a>] [<a href="https://arxiv.org/abs/2306.05666">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="/questsim">
          <img class="img-fluid paper-img" src="/images/questsim_youtube.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>QuestSim: Human Motion Tracking from sparse Sensors with Simulated Avatars</b> <br> 
        A Winkler, J Won, Y Ye<br>
        <em> ACM SIGGRAPH Asia 2022 </em> <br> 
        [<a href="/questsim">Project page</a>] [<a href="https://arxiv.org/abs/2209.09391">Paper</a>]
      </div>
    </div>
    
    
    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://github.com/jyf588/transformer-inertial-poser">
          <img class="img-fluid paper-img" src="/images/tip_youtube3.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Transformer Inertial Poser: Real-time Human Motion Reconstruction from Sparse IMUs with Simultaneous Terrain Generation</b> <br> 
        Y Jiang, Y Ye, D Gopinath, J Won, A Winkler, K Liu <br>
        <em> ACM SIGGRAPH Asia 2022 </em> <br> 
        [<a href="https://github.com/jyf588/transformer-inertial-poser">Project page</a>] [<a href="https://arxiv.org/abs/2203.15720">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="/gato">
          <img class="img-fluid paper-img" src="/images/gato_youtube.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Gato: Gait and Trajectory Optimization for legged systems through Phase-based Endeffector Parameterization</b> <br> 
        A Winkler, D Bellicoso, M Hutter, J Buchli <br>
        <em> IEEE Robotics and Automation Letter (RA-L 2018) </em> <br> 
        [<a href="/gato">Project page</a>] [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/18-ral-winkler.pdf">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.research-collection.ethz.ch/handle/20.500.11850/272432">
          <img class="img-fluid paper-img" src="/images/thesis_youtube2.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Ph.D. Thesis: Optimization-based motion planning for legged Robots</b> <br> 
        A Winkler <br>
        <em> ETH Zurich 2018 </em> <br> 
        [<a href="https://www.research-collection.ethz.ch/handle/20.500.11850/272432">Thesis</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=5WLeQMBuv30">
          <img class="img-fluid paper-img" src="/images/vbzmp_youtube.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Fast Trajectory Optimization for Legged Robots using Vertex-based ZMP Constraints</b> <br> 
        A Winkler, F Farshidian, D Pardo, M Neunert, J Buchli <br>
        <em> IEEE Robotics and Automation Letter (RA-L 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-ral-winkler.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=5WLeQMBuv30">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/7970144">Link</a>] 
      </div>
    </div>

    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=bE2_-lpZU7o">
          <img class="img-fluid paper-img" src="/images/iros_2017_youtube.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Robust Whole-Body Motion Control of Legged Robots</b> <br> 
        F Farshidian, E Jelavic, A Winkler</b>, J Buchli<br>
        <em> IEEE International Conference on Intelligent Robots and Systems (IROS 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-iros-farshidian.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=bE2_-lpZU7o">Video</a>]
        [<a href="https://ieeexplore.ieee.org/abstract/document/8206328">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.roboticsproceedings.org/rss13/p42.html">
          <img class="img-fluid paper-img" src="/images/rss_2017_youtube.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Hybrid direct collocation and control in the constraint-consistent subspace for dynamic legged robot locomotion</b> <br> 
        D Pardo, M Neunert, A Winkler, R Grandia, J Buchli<br>
        <em> Robotics, Science and Systems (RSS 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-rss-pardo.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=c2OgA8qBuS0&t=55s">Video</a>]
        [<a href="https://www.roboticsproceedings.org/rss13/p42.html">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=EBW3lpr1tB8">
          <img class="img-fluid paper-img" src="/images/icra_2017_2.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Online Walking Motion and Foothold Optimization for Quadruped Locomotion</b> <br> 
        A Winkler, F Farshidian, M Neunert, D Pardo, J Buchli<br>
        <em> IEEE International Conference on Robotics and Automation (ICRA 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-icra-winkler.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=EBW3lpr1tB8">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/7989624">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=KHi_C-SsC2A">
          <img class="img-fluid paper-img" src="/images/icra_2017_farbod.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>An Efficient Optimal Planning and Control Framework For Quadrupedal Locomotion</b> <br> 
        F Farshidian, M Neunert, A Winkler, G Rey, J Buchli<br>
        <em> IEEE International Conference on Robotics and Automation (ICRA 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-icra-farshidian.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=KHi_C-SsC2A">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/7989016">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=YDCi3negCwk">
          <img class="img-fluid paper-img" src="/images/ral_2017_neunert.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Trajectory Optimization Through Contacts and Automatic Gait Discovery for Quadrupeds</b> <br> 
        M Neunert, F Farshidian, A Winkler, J Buchli<br>
        <em> IEEE Robotics and Automation Letters (RA-L 2017) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/17-ral-neunert.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=YDCi3negCwk">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/7845678">Link</a>] 
      </div>
    </div>



    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://arxiv.org/abs/1708.09342">
          <img class="img-fluid paper-img" src="/images/olcar_2017.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Optimal and Learning Control for Autonomous Robots</b> <br> 
        J Buchli, F Farshidian, A Winkler, T Sandy, M Giftthaler<br>
        <em> arXiv 2017 </em> <br> 
        [<a href="https://arxiv.org/abs/1708.09342">Paper</a>]
      </div>
    </div>




    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=VGIROnFWgMw&list=PLVo-NpMrDMXz6bfz3nH9o5YMmhgnU0rDq">
          <img class="img-fluid paper-img" src="/images/ballbot6.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Evaluating direct transcription and nonlinear optimization methods for robot motion planning</b> <br> 
        D Pardo, L Moller, M Neunert, A Winkler, J Buchli<br>
        <em> IEEE Robotics and Automation Letters (RA-L 2016) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/16-ral-pardo.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=VGIROnFWgMw&list=PLVo-NpMrDMXz6bfz3nH9o5YMmhgnU0rDq">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/7400956">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=MF-qxA_syZg">
          <img class="img-fluid paper-img" src="/images/icra_2015_winkler2.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Planning and Execution of Dynamic Whole-Body Locomotion for a Hydraulic Quadruped on Challenging Terrain</b> <br> 
        A Winkler, C Mastalli, I Havoutis, M Focchi, D Caldwell, C Semini<br>
        <em> IEEE International Conference on Robotics and Automation (ICRA 2015) </em> <br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/15-icra-winkler.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=MF-qxA_syZg">Video</a>]
        [<a href="https://ieeexplore.ieee.org/abstract/document/7139916">Link</a>] 
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://arxiv.org/abs/1904.03693">
          <img class="img-fluid paper-img" src="/images/tepra_2015_carlos2.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>On-line and on-board planning for quadrupedal locomotion, using practical, on-board perception</b> <br> 
        C Mastalli, I Havoutis, A Winkler, D Caldwell, C Semini<br>
        <em> IEEE International Conference on Practial Robot Applications 2015 </em><br> 
        [<a href="https://arxiv.org/abs/1904.03693">Paper</a>]
      </div>
    </div>


    <div class="row align-items-stretch pub-padding-out">
      <div class="col-md-3 pub-padding">
        <a href="https://www.youtube.com/watch?v=HWizOJs_KvI">
          <img class="img-fluid paper-img" src="/images/icra_2014_winkler3.png" alt="">
        </a>
      </div>
      <div class="col-md-9 pub-padding">
        <b>Path planning with force-based foothold adaptation and virtual model control for torque controlled quadruped robots</b> <br> 
        A Winkler, I Havoutis, S Bazeille, J Ortiz, M Focchi, R Dillmann, D Caldwell, C Semini<br>
        <em> IEEE International Conference on Robotics and Automation (ICRA 2014) </em><br> 
        [<a href="https://storage.googleapis.com/concise-hue-230505.appspot.com/pdfs/14-icra-winkler.pdf">Paper</a>]
        [<a href="https://www.youtube.com/watch?v=HWizOJs_KvI">Video</a>]
        [<a href="https://ieeexplore.ieee.org/document/6907815">Link</a>] 
      </div>
    </div>

  </div>
</section>
