<section id="sec-research">
  <div class="container">
    <h2 class="display-4">Projects</h2>
    <p>
      Highlighting some projects here. For videos on all projects, see my
      <a
        href="https://www.youtube.com/channel/UC41vNoCH7OnJoPRRwt-r_Kg"
        title="Youtube"
        ><i class="fab fa-youtube fa-fw"></i> Youtube</a
      >.
    </p>

    <h6 style="margin-top: 2.0em">
      QuestSim: Human Motion Tracking from sparse Sensors using Simulated
      Avatars
    </h6>

    <!-- Badges -->
    <h6 style="font-size: 0.8em">
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Character Animation</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Reinforcement Learning</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Motion Capture</span
      >
    </h6>


    <p>
      <a title="Download PDF" href="https://arxiv.org/abs/2209.09391.pdf"
        >pdf</a
      >
      &bull;
      <a title="Go to webpage" href="/questsim">website</a>
    </p>

    <div class="col-12 col-md-6 m-0 p-0">
      <div class="embed-responsive embed-responsive-16by9 my-youtube shadow">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/CkTHsz6Ldas?controls=0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>


    <!-- Motion Planning -->
    <div class="row" style="margin-top: 4.0em">
      <!-- header -->
      <div class="col">
        <h6>
          Gait and Trajectory Optimization for legged systems through
          Phase-based Endeffector Parameterization
        </h6>
      </div>
      <!-- anymal gif -->
      <!-- <div class="col-12 col-md-7">
        <img id="runningGif" src="images/anymal.gif" />
      </div> -->
    </div>

    <!-- Badges -->
    <p style="font-size: 0.8em">
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Robotics</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Motion and Path Planning</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Trajectory Optimization</span
      >
    </p>


    <p>
      <a title="Download PDF" href="<%= pdfs %>/18-ral-winkler.pdf">pdf</a>
      &bull;
      <a title="Download PDF" href="https://youtu.be/0jE46GqzxMM"
        >summary video</a
      >
    </p>

    <div class="col-12 col-md-6 p-0 m-0 p-md-0">
      <div class="embed-responsive embed-responsive-16by9 my-youtube shadow">
        <iframe
          class="embed-responsive-item"
          allowfullscreen="allowfullscreen"
          modestbranding="1"
          src="https://www.youtube.com/embed/KhWuLvb934g?controls=0"
        >
        </iframe>
      </div>
    </div>

    <h6 style="margin-top: 3.5em">
      Thesis: Optimization-based motion-planning for legged robots
    </h6>

    <!-- Badges -->
    <p style="font-size: 0.8em">
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Legged Locomotion</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Trajectory Optimization</span
      >
      <span class="badge badge-secondary mylabel"
        ><i class="fa fa-tag"></i> Nonlinear Programming</span
      >
    </p>

    <p>
      <a title="Download PDF" href="<%= pdfs %>/18-phd-winkler.pdf">pdf</a>
    </p>

    <div id="sec-blog" class="scrolling-wrapper-flexbox">
      <div class="post-preview clickable" data-location="/phd-thesis.html#pf13">
        <div class="img-prev-phd">
          <img src="/images/floating_base_systems_trans.png" />
        </div>
        <!-- text -->
        <div class="pt-3 px-3">
          <h4 class="mb-1">Why walking is difficult</h4>
          <p class="mb-0"><small class="text-muted"> 3 min read</small></p>
          <p style="text-align: justify">
            We're used to seeing cars drive around and drones flying over our
            heads. Why is it much more difficult to make machines walk?
          </p>
        </div>
      </div>

      <div class="post-preview clickable" data-location="/phd-thesis.html#pfe">
        <div class="img-prev-phd">
          <img src="/images/dynamic_models.png" />
        </div>

        <!-- text -->
        <div class="pt-3 px-3">
          <h4 class="mb-1">Models for legged robots</h4>
          <p class="mb-0"><small class="text-muted"> 30 min read</small></p>
          <p style="text-align: justify">
            To approximate the physics of legged robots mathematically, there
            exists a variety of models (RBD, Centroidal, SRBD, LIPM). Here we
            explain their differences and underlying assumptions
          </p>
        </div>
      </div>

      <div class="post-preview clickable" data-location="/phd-thesis.html#pf15">
        <div class="img-prev-phd">
          <img src="/images/to.png" />
        </div>
        <!-- text -->
        <div class="pt-3 px-3">
          <h4 class="mb-1">Trajectory Optimization</h4>
          <p class="mb-0"><small class="text-muted"> 10 min read</small></p>
          <p style="text-align: justify">
            How to formulate a mathematical problem so it captures the physics
            of walking? A solution to this problem gives us motions-plans to
            execute on a robot.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
