<section id="sec-software">
  <div class="container">
    <h2 class="display-4">Software</h2>

    <p>
      All code is published on
      <a href="https://github.com/awinkler" title="Github"
        ><i class="fab fa-github"></i> Github</a
      >.
    </p>

    <div id="sec-blog" class="scrolling-wrapper-flexbox">
      <!-- towr https://github.com/ethz-adrl/towr-->
      <div
        class="post-preview clickable"
        data-location="https://github.com/ethz-adrl/towr"
      >
        <div class="img-prev-phd">
          <img class="card-img-top" src="/images/towr_logo.png" />
        </div>
        <div class="card-body">
          <p style="text-align: justify">
            Light-weight and extensible C++ library for trajectory optimization
            for legged robots.
          </p>
          <a
            class="github-button"
            href="https://github.com/ethz-adrl/towr"
            data-show-count="true"
            aria-label="Star ethz-adrl/towr on GitHub"
            >Star
          </a>
          <a
            class="github-button"
            href="https://github.com/ethz-adrl/towr/archive/master.zip"
            data-icon="octicon-cloud-download"
            aria-label="Download ethz-adrl/towr on GitHub"
            >Download
          </a>
        </div>
        <div class="card-footer">
          <p class="bash">
            $ apt install ros-melodic-towr-ros
            <button
              class="btn btn-copy btn-hide"
              data-toggle="tooltip"
              data-clipboard-text="sudo apt install ros-melodic-towr-ros"
            >
              <i class="far fa-copy"></i>
            </button>
          </p>
        </div>
      </div>

      <!-- ifopt https://github.com/ethz-adrl/ifopt-->
      <div
        class="post-preview clickable"
        data-location="https://github.com/ethz-adrl/ifopt"
      >
        <div class="img-prev-phd">
          <img class="card-img-top" src="/images/ifopt_logo.png" />
        </div>
        <div class="card-body">
          <p style="text-align: justify">
            Eigen-based, light-weight C++ Interface to NLP Solvers (Ipopt,
            Snopt).
          </p>
          <a
            class="github-button"
            href="https://github.com/ethz-adrl/ifopt"
            data-show-count="true"
            aria-label="Star ethz-adrl/ifopt on GitHub"
            >Star
          </a>
          <a
            class="github-button"
            href="https://github.com/ethz-adrl/ifopt/archive/master.zip"
            data-icon="octicon-cloud-download"
            aria-label="Download ethz-adrl/ifopt on GitHub"
            >Download
          </a>
        </div>
        <div class="card-footer">
          <p class="bash">
            $ apt install ros-melodic-ifopt
            <button
              class="btn btn-copy btn-hide"
              data-toggle="tooltip"
              data-clipboard-text="sudo apt install ros-melodic-ifopt"
            >
              <i class="far fa-copy"></i>
            </button>
          </p>
        </div>
      </div>

      <!-- xpp  http://wiki.ros.org/xpp -->
      <div
        class="post-preview clickable"
        data-location="http://wiki.ros.org/xpp"
      >
        <div class="img-prev-phd">
          <img class="card-img-top" src="/images/xpp_logo.png" />
        </div>
        <div class="card-body">
          <p style="text-align: justify">
            Visualization of legged robots, forces, support areas, ZMP, CoM etc.
            in ROS rviz.
          </p>
          <a
            class="github-button"
            href="https://github.com/leggedrobotics/xpp"
            data-show-count="true"
            aria-label="Star leggedrobotics/xpp on GitHub"
            >Star</a
          >
          <a
            class="github-button"
            href="https://github.com/leggedrobotics/xpp/archive/master.zip"
            data-icon="octicon-cloud-download"
            aria-label="Download leggedrobotics/xpp on GitHub"
            >Download</a
          >
        </div>
        <div class="card-footer">
          <p class="bash">
            $ apt install ros-melodic-xpp
            <button
              class="btn btn-copy btn-hide"
              data-toggle="tooltip"
              data-clipboard-text="sudo apt install ros-melodic-xpp"
            >
              <i class="far fa-copy"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
