<% include ./partials/header %>


<section id="sec-landing" class="post">
  <!-- <div id="greetings" class="m-3 m-md-5"> -->

  <div class="terminal">
		<div class="terminal-header text-secondary">
			alex.bin — bash — 80x24
		</div>
		<div class="terminal-body">
			$ <span class="element"></span>
		</div>
  </div>

<!-- 	<div id="img-credit" class="d-none d-md-block">
		 <i class="fas fa-map-marker-alt fa-xs align-text-top"></i> Currently surfing in  Bali &middot; To get in touch, see 
		<a style="color: inherit; font-weight: 300;" class="scroll-link" href="/#footer" data-target="#footer">below.</a>
	</div> -->


	<div class="arrow bounce">
	  <a class="fa fa-arrow-down fa-2x" href="#"></a>
	</div>
</section>


<% include ./partials/research.html %>
<% include ./partials/software.html %>
<% include ./partials/blog %>
<% include ./partials/publications %>

</div>

<% include ./partials/footer-new %>