<% include ./partials/header %> 

<section>
<div class="container">
  <div class="row">

    <h3 style="text-align: center">
      QuestSim: Human Motion Tracking from sparse Sensors using Simulated
      Avatars
    </h3> 
    <h6 style="text-align: center">
      Alexander Winkler, Jungdam Won, Yuting Ye
    </h6> 

  </div>
</div>
</section>

<% include ./partials/footer %>
