<% include ./partials/header %> 

<div style="padding-top: 100px; padding-bottom: 50px;">
<div class="container">


    <h3 style="text-align: center">
      QuestSim: Human Motion Tracking from sparse Sensors with Simulated Avatars
    </h3> 

    <h6 style="text-align: center; margin-top: 1.0em">
    <div class="names-container">
      <span class="name"><a href="https://alex-winkler.com/">Alexander Winkler</a></span>
      <span class="name"><a href="https://sites.google.com/view/jungdam">Jungdam Won</a></span>
      <span class="name"><a href="http://yutingye.info/">Yuting Ye</a></span>
    </div>
    </h6>

    <h6 style="text-align: center; margin-top: 1.0em">
      <em>SIGGRAPH Asia 2022</em>
    </h6> 

    <h6 style="text-align: center; margin-top: 1.0em">
      [<a href="https://arxiv.org/abs/2209.09391">PDF</a>]  
      <!-- [<a href="https://twitter.com/awinkler_/status/1572968904401776641?s=20">Twitter</a>]  
      [<a href="https://www.reddit.com/r/oculus/comments/xlx1qj/meta_shows_stunning_full_body_tracking_only_via/">Reddit</a>]
      [<a href="https://www.uploadvr.com/meta-quest-2-body-tracking-without-trackers/">News</a>] -->
    </h6> 


    <div class="col-12 col-md-10 m-0 p-0 mx-auto text-center"">
      <img src="/images/questsim_title2.png">
    </div>



    






    <div style="margin-top: 4.0em">
      <!-- <h4 style="text-align: center">
        Abstract
      </h4>  -->
      <p>
        Real-time tracking of human body motion is crucial for interactive and immersive experiences in AR/VR. However, very limited sensor data about the body is available from standalone wearable devices such as HMDs (Head Mounted Devices) or AR glasses. In this work, we present a reinforcement learning framework that takes in sparse signals from an HMD and two controllers, and simulates plausible and physically valid full body motions. Using high quality full body motion as dense supervision during training, a simple policy network can learn to output appropriate torques for the character to balance, walk, and jog, while closely following the input signals. Our results demonstrate surprisingly similar leg motions to ground truth without any observations of the lower body, even when the input is only the 6D transformations of the HMD. We also show that a single policy can be robust to diverse locomotion styles, different body sizes, and novel environments.
      </p>

      <div class="col-12 col-md-8 m-0 p-0 mx-auto text-center"">
        <img src="/images/quest_sim_overview.png">
      </div>
    </div>


    <div style="margin-top: 5.0em">
      <h4 style="text-align: center">
        Videos
      </h4> 

      <div class="container" style="margin-top: 1.0em">
        <div class="row">
          <div class="col-12 col-md-6 text-center">
            <div class="embed-responsive embed-responsive-16by9 my-youtube shadow">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/CkTHsz6Ldas?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
      
          <div class="col-12 col-md-6 text-center">
            <div class="embed-responsive embed-responsive-16by9 my-youtube shadow">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/DmjsNnBhWdA?controls=0"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="margin-top: 5.0em">
      <h4 style="text-align: center">
        News
      </h4> 

      <div class="row justify-content-center align-items-start">
        <div class="col-12 col-md-4 text-center d-flex align-items-start">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">This paper shows some of our research at Meta Reality Labs in reconstructing a user&#39;s pose from only the sensors of the Quest headset using Reinforcement Learning.<br><br>authors: with Jungdam Won and Yuting Ye<br>paper: <a href="https://t.co/hpZhuY8PC1">https://t.co/hpZhuY8PC1</a><br>video: <a href="https://t.co/BBRGMoHt4t">https://t.co/BBRGMoHt4t</a><br>1/4👇 <a href="https://t.co/EiwQ54R5th">pic.twitter.com/EiwQ54R5th</a></p>&mdash; Alexander Winkler (@awinkler_) <a href="https://twitter.com/awinkler_/status/1572968904401776641?ref_src=twsrc%5Etfw">September 22, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="col-12 col-md-4 text-center d-flex align-items-start" style="padding-top: 10px">
          <blockquote class="reddit-embed-bq" style="height:240px;" data-embed-height="240">      <a href="https://www.reddit.com/r/oculus/comments/xlx1qj/meta_shows_stunning_full_body_tracking_only_via/">Meta shows stunning full body tracking only via Quest headset</a><br> by      <a href="https://www.reddit.com/user/henlo_there_fren">u/henlo_there_fren</a> in      <a href="https://www.reddit.com/r/oculus/">oculus</a>    </blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>
        </div>
        
        <div class="col-12 col-md-4 text-center d-flex align-items-start" style="padding-top: 10px">
          <div class="news-embed" style="background: #ffffff; border: 1px solid #c8cbce; padding: 15px; border-radius: 10px;">
            <a href="https://www.uploadvr.com/meta-quest-2-body-tracking-without-trackers/" target="_blank" style="color: #555657; text-decoration: none;">
              <h6 style="margin-bottom: 0.5em; font-weight: bold;">Meta Shows Stunning Full Body Tracking Only Via Quest Headset</h4>
              <p style="color: #657786; font-weight: bold;">Upload VR</p>
              <img src="/images/questsim_uploadvr.png" style="width: 100%; height: auto; border-radius: 10px;">
              <p style="margin-top: 0.5em; text-align: justify;">Body tracking usually requires extra hardware, but Meta’s Reality Labs has showcased impressive full body tracking using only the sensors inside a Quest 2 VR headset...</p>
            </a>
          </div>
        </div>
        
        
      </div>
    </div>


    <div style="margin-top: 5.0em">
      <h4 style="text-align: center">
        Bibtex
      </h4> 
      <div class="bibtex-container">
        <pre class="bibtex-box">
@inproceedings{10.1145/3550469.3555411,
      author    = {Winkler, Alexander and Won, Jungdam and Ye, Yuting},
      title     = {QuestSim: Human Motion Tracking from Sparse Sensors with Simulated Avatars},
      year      = {2022},
      doi       = {10.1145/3550469.3555411},
      booktitle = {SIGGRAPH Asia 2022 Conference Papers},
      location  = {Daegu, Republic of Korea},
}
</pre>
      </div>
    </div>


</div>
</div>


</body>
</html>

<% include ./partials/footer%>


