#myFooter {
    line-height: 1.6;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background: #F0F2F0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #494949, #a3a3a3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #454646, #a2a3a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myFooter p {
    color: white;
    vertical-align: top;
}

#myFooter .container {
    max-width: 1200px;
}

#myFooter .row {
    margin: 0;
    align-items: flex-start;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    font-size: 1.4em;
    margin-bottom: 0;
    justify-content: center;
}

#myFooter ul li { 
    margin-left: 1em;
}

#myFooter .highlight {
    font-size: 28px;
}

#myFooter .fa-fw {
    vertical-align: top;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#nocolor a {
    color: #0f0f0f;
    text-decoration: none;
    font-size: 18px;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter #copyright {
    padding-top: 2em;
    text-align: center;
}

#copyright hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


@media screen and (max-width: 992px) {
    #myFooter {
        text-align: center;
    }
}

#myFooter a {
    color: white;
}

#about-img {
    border-radius: 5px;
    width: 100%;
    margin: 0.4em 0;
    /*height: 150px;*/
    /*height: 100%;*/
}

#about-map {
    /*height: 100%;*/
    border: 0;
    width: 100%;
    margin: 0.5em 0;
}